body{
    display: flex;
    flex-direction: column;
    gap: 80px;
    box-sizing: border-box;
    align-items: center;
    height: 100vh;
}
.home_contet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    height: 50px;
    width: 35%;
}
.home_contet img{
    width: 20%;
    
}

.main_methods{
    width: 80%;
    height: 80%;
    border: 1px solid black;
    display: flex;
    
}
.meth{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid green;
    font-family: "Bebas Neue", sans-serif;
}